.btn-Orange {
  background-color: #f5913e;
}

.btn-Gray {
  background-color: #e0e0e0;
}

.calculator-result {
  text-align: right;
  margin: 5px;
  height: 35px;
  font-size: 30px;
}

.calculator {
  margin-left: auto;
  margin-right: 80px;
  background-color: #858693;
  width: 30%;
  min-width: 300px;
  height: 500px;
}

button {
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.th-result {
  height: 0;
}

th,
td {
  padding: 0;
}

.w-25 {
  width: 25%;
}

.calculator-container {
  margin-top: 10px;
  display: flex;
}

.calculator-container h2 {
  padding-left: 80px;
}
